// font-weight helper:

// 100 Extra Light or Ultra Light;
// 200 Light or Thin; 300 Book or Demi;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black

$font_medium: 'AvenirNextCyr Medium', sans-serif
$font_regular: 'AvenirNextCyr Regular', sans-serif
$font_demi: 'AvenirNextCyr Demi', sans-serif
$font_bold: 'Butler Bold'

@mixin font($f-name, $f-style, $f-weight, $f-url)
	@font-face
		font-family: $f-name
		font-style: $f-style
		font-weight: $f-weight
		src: url($f-url) format('woff2')


@include font('AvenirNextCyr Regular', normal, 400, '../fonts/AvenirNextCyr-Regular.woff')
@include font('AvenirNextCyr Demi', normal, 400, '../fonts/AvenirNextCyr-Demi.woff')
@include font('AvenirNextCyr Medium', normal, 400, '../fonts/AvenirNextCyr-Medium.woff')
@include font('Butler Bold', normal, 700, '../fonts/butler_bold-webfont.woff')
