@import vars
@import fonts
@import libs

::placeholder
	color: rgba(0,0,0,0.6)

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: $font_medium
	overflow-x: hidden
	color: $text


// Custom Sass / Remove before use
object
	display: none

a
	color: $text

	&:hover
		outline: none
		text-decoration: none

ul, nav
	margin: 0
	padding: 0
	list-style: none
img
	width: 100%

.menu-mobile
	display: none

.icon-svg-nav
	width: 22px
	position: absolute
	top: 40px
	left: 20px
	fill: $accent
	height: 25px
	z-index: 100

.slick-active:focus
	outline-color: transparent

.page__wrapper
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	justify-content: space-between
	min-height: 100vh
	width: 100%
	overflow: hidden

.container
	max-width: 1630px
	width: 100%
	padding: 0 15px 
	margin: auto
	position: relative

.row
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	//margin: 0 -15px
	align-items: center
	justify-content: space-between
	flex-wrap: wrap

.accent
	color: $accent
.grey
	color: #9298a1

.uppercase
	text-transform: uppercase

.button	
	padding: 0 25px
	height: 55px
	text-transform: uppercase
	color: #ffffff
	background: #0aaefb
	border: none
	border-radius: 4px
	font-family: $font_demi
	transition: all 0.3s
	min-width: 200px

	&:hover
		background: $accent
		transition: all 0.3s

	&__primary
		background: #fe3e01
		background: -moz-linear-gradient(left,  #fe3e01 0%, #fe6301 100%)
		background: -webkit-linear-gradient(left,  #fe3e01 0%,#fe6301 100%)
		background: linear-gradient(to right,  #fe3e01 0%,#fe6301 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe3e01', endColorstr='#fe6301',GradientType=1 )
		border: 1px solid transparent
		transition: all 0.3s


		&:hover
			background: transparent
			color: $text
			border: 1px solid $accent
			transition: all 0.3s

		&-alt
			border: 1px solid $accent
			background: transparent
			color: $text
			&:hover
				background: $accent
				color: #fff

.header-top
	width: 100%
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	justify-content: space-around
	align-items: center
	min-height: 115px
	background-color: #ffffff

	&__menu
		width: 70%
		margin-top: 15px
	&__contact
		width: 15%
		text-align: right
		margin-top: 15px

.logo
	max-width: 195px
	max-height: 78px
	width: 15%

	&__img
		width: 100%

.gradient__bg
	background: rgba(254,60,1,1)
	background: -moz-linear-gradient(left, rgba(254,60,1,1) 0%, rgba(254,98,1,1) 100%)
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,60,1,1)), color-stop(100%, rgba(254,98,1,1)))
	background: -webkit-linear-gradient(left, rgba(254,60,1,1) 0%, rgba(254,98,1,1) 100%)
	background: -o-linear-gradient(left, rgba(254,60,1,1) 0%, rgba(254,98,1,1) 100%)
	background: -ms-linear-gradient(left, rgba(254,60,1,1) 0%, rgba(254,98,1,1) 100%)
	background: linear-gradient(to right, rgba(254,60,1,1) 0%, rgba(254,98,1,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe3c01', endColorstr='#fe6201', GradientType=1 )

.header__nav
	min-height: 98px
	width: 100%
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	justify-content: space-around
	align-items: center	



.menu
	&__list
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-around

	&__link
		font-size: 18px
		font-family: $font_medium
		color: #000
		transition: all 0.3s

		&:hover
			color: $accent
			transition: all 0.3s

.nav
	&__list
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		width: 80%
		justify-content: space-around
		align-items: center

	&__link
		color: #fff
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center

		&:hover
			color: #ffffff

	&__text
		font-size: 18px
		font-family: $font_demi

	&__icon
		width: 24px
		height: 24px
		margin-right: 15px
	
		&-home
			background: url(../img/icons/home.png)
			background-repeat: no-repeat
			background-position: center
			background-size: cover

		&-pergolas
			background: url(../img/icons/pergolas.png)
			background-repeat: no-repeat
			background-position: 0 -2px
			background-size: cover

		&-awnings
			background: url(../img/icons/awnings.png)
			background-repeat: no-repeat
			background-position: center
			background-size: cover

		&-sunscreens
			background: url(../img/icons/sunscreens.png)
			background-repeat: no-repeat
			background-position: center
			background-size: cover

		&-colours
			background: url(../img/icons/colours.png)
			background-repeat: no-repeat
			background-position: center
			background-size: cover

.social
	&__list
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		

	&__link
		width: 30px
		height: 30px
		border-radius: 50%
		display: block
		background: #ffffff
		margin: 0 5px

	&__icon
		max-width: 100%
		width: 70%
		margin: auto
		height: 100%
		display: block
		fill: #fe5c01
		transition: all 0.3s

		&:hover
			transition: all 0.3s
			fill: #333538

.h-slider
	&__item
		height: 560px
		width: 100vw
		overflow: hidden

	&__wrap
		width: 100%
		height: 100%
		position: relative
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex

	&__background
		position: absolute
		filter: blur(3.5px)
		width: 101%
		height: 101%
		display: block
		margin: -5px

	&__content
		max-width: 560px
		margin: 0 125px

	&__title
		font-size: 44px
		font-family: $font_bold
		color: #ffffff
		text-transform: uppercase
		font-weight: 700
		line-height: 1.25em

	&__except
		font-size: 21px
		font-family: $font_demi
		color: #ffffff
		margin: 20px 0 30px

	&__prev
		left: 50px 	
	
	&__next
		right: 50px 

	.slick-arrow
		position: absolute
		top: 50%
		margin-top: -25px
		z-index: 2
		height: 50px
		width: 30px
		background: transparent
		border: none
		fill: #ffffff
		transition: all 0.3s
		cursor: pointer

		&:focus
			outline: none

		&:hover
			fill: $accent
			transition: all 0.3s

	.slick-dots
		position: absolute
		bottom: 50px
		width: 300px
		left: 0
		right: 0
		margin: auto
		display: flex
		justify-content: center
		align-items: center

		li
			margin: 0 10px

		button
			border-radius: 50%
			border: none
			width: 13px
			height: 13px
			display: block
			text-indent: -9000px
			background: rgba(255,255,255,0.5)
			overflow: hidden

		.slick-active
			background: rgba(255,255,255,1)
			border-radius: 50%

			&:focus
				outline: none

.b-header
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: center
	font-family: $font_bold
	font-size: 36px
	color: #000
	flex-wrap: wrap
	font-weight: 700
	line-height: 1.25em
.b-system
	min-height: 740px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	background: url(../img/bg2.png)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	padding-top: 60px

	&__col
		margin-bottom: 100px
		max-width: 48%

		&-right
			margin-left: auto

	&__wrap
		max-width: 570px
		margin-right: 30px

	&__header
		position: relative
		margin-bottom: 70px
		display: block
		line-height: 1.25em

		&:before
			content: ''
			position: absolute
			width: 141px
			height: 3px
			background-color: $accent
			bottom: -30px
			left: 0

	&__except
		font-family: $font_regular

	&__img
		max-width: 757px
		max-height: 538px
		position: relative

		&:before
			content: ''
			max-width: 795px
			width: 110%
			max-height: 401px
			height: 100%
			position: absolute
			left: -20px
			bottom: -20px
			z-index: -1
			background-color: #e4e5e9

		&:after
			content: ''
			width: 104px
			height: 104px
			position: absolute
			left: -24px
			bottom: -24px
			z-index: -2
			background-color: $accent

	&__foto
		width: 100%
		height: 100%

.b-retractable
	min-height: 870px

	&__background-color
		height: 598px
		width: 100%
		position: absolute
		background: rgba(254, 81, 2, 1)
		z-index: -1

	&__background-img
		background: url(../img/retractable_bg.jpg)
		background-position: center
		background-repeat: no-repeat
		background-size: cover
		opacity: 0.12
		height: 100%	
		width: 100%

	&__wrap
		padding-top: 60px
		display: flex
		justify-content: center
		flex-wrap: wrap

	&__item
		margin-bottom: 60px
		max-width: 640px
		width: 100%
		min-height: 694px
		background: #ffffff
		padding: 25px
		margin: 0 30px 50px 
		border: 1px solid #dadada
		
	&__img
		max-width: 593px
		max-height: 375px
		overflow: hidden

	&__title
		font-size: 40px
		font-family: $font_bold
		padding-top: 30px
		&:first-word	
			color: $accent

	&__except
		font-size: 18px
		font-family: $font_regular
		padding-top: 20px	

	&__button
		padding: 40px 0 10px

.b-warranty
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	background: rgba(167, 167, 167,0.16)
	margin-top: 30px
	margin-bottom: 80px

	&__col
		width: 50%

	&__img
		max-height: 531px
		margin-top: -40px
		margin-bottom: -40px
		overflow: hidden
		box-shadow: 0px 0px 70px 15px rgba(66,48,39,0.38)

	&__text
		max-width: 600px
		width: calc(100% - 120px)
		margin: 0 auto 0 60px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		justify-content: center
		height: 100%
		padding: 20px 0

	&__header
		margin-bottom: 30px
		justify-content: flex-start

	&__except
		margin-bottom: 30px

$arrow-color: #9298a1
$arrow-color-active: #fe4001
.slick-arrow
	position: absolute
	top: 30px

.arrow
	&-left
		background: $arrow-color
		width: 82px
		display: block
		height: 3px
		left: 70px
		cursor: pointer

		&:before
			content: ''
			position: absolute
			width: 10px
			height: 3px
			background: $arrow-color
			top: 3px
			left: 0
			transform: rotate(45deg)

		&:after
			content: ''
			position: absolute
			width: 10px
			height: 3px
			background: $arrow-color
			top: -3px
			left: 0
			transform: rotate(-45deg)

		&:hover
			background: $arrow-color-active

			&:before,&:after
				background: $arrow-color-active

	&-right
		background: $arrow-color
		width: 82px
		height: 3px
		display: block
		right: 70px
		cursor: pointer

		&:before
			content: ''
			position: absolute
			width: 10px
			height: 3px
			background: $arrow-color
			top: 3px
			right: 0
			transform: rotate(135deg)

		&:after
			content: ''
			position: absolute
			width: 10px
			height: 3px
			background: $arrow-color
			top: -3px
			right: 0
			transform: rotate(-135deg)

		&:hover
			background: $arrow-color-active

			&:before,&:after
				background: $arrow-color-active

.b-products
	&__header
		display: block
		text-align: center	
		padding-top: 70px

	&__slider
		padding: 80px 0 115px 

	&__item
		position: relative
		margin: 0 10px
		overflow: hidden
		transition: all 0.3s
		max-width: 409px
		width: 100%
	
		&:hover 
			.b-products__wrap
				border: 1px solid #dadada
				background-image: linear-gradient(45deg, rgba(0,0,0,0.16) 25%, transparent 25%, transparent 75%, rgba(0,0,0,0.16) 75%, rgba(0,0,0,0.16)), linear-gradient(45deg, rgba(0,0,0,0.16) 25%, transparent 25%, transparent 75%, rgba(0,0,0,0.16) 75%, rgba(0,0,0,0.16))
				background-size: 4px 4px
				background-position: 0 0, 2px 2px				

			.b-products__img:before
				content: ''
				position: absolute
				left: 0
				top: 0
				bottom: 0
				right: 0
				width: 100%
				height: 100%
				background: rgba(0,0,0,0.35)
				transition: all 0.3s

			.b-products__info
				opacity: 1
				transition: all 0.3s

	&__img
		width: 100%
		height: 270px
		overflow: hidden
		position: relative	

	&__title
		text-align: center
		position: relative
		font-family: $font_bold
		font-size: 24px
		color: #000
		margin: 30px 0 20px
		&:before
			content: ''
			position: absolute
			width: 96px
			height: 3px
			left: 0
			right: 0
			bottom: -15px
			margin: auto
			background: $accent
	
	&__category
		text-align: center
		font-family: $font_regular
		font-size: 18px
		color: #000
		margin-bottom: 30px
		font-weight: 700

	&__wrap
		border: 1px solid transparent

	.slick-slide img 
		display: block
		margin: auto
		height: 100%

.b-products__info
	position: absolute
	left: 0
	right: 0
	bottom: 0
	width: 320px
	margin: auto
	height: 82px
	top: 0
	opacity: 0
	text-align: center
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	transition: all 0.3s
	justify-content: space-evenly
.b-info
	&__like
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		margin: auto
		font-size: 12px
		font-family: font_demi
		color: #fff
		height: 20px

		span
			display: inline-block
			margin: 0 10px
	&__link
		width: 82px
		height: 82px
		border-radius: 50%
		display: block
		background: rgba(254,81,1,0.73)
		position: relative
	&__icon
		width: 40px
		height: 40px
		fill: #ffffff
		position: absolute
		top: 0
		bottom: 0
		margin: auto
		left: 0
		right: 0

.b-gallery
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	width: 100%
	flex-direction: row
	justify-content: space-between
	align-items: flex-start
	padding-bottom: 100px
	flex-wrap: wrap

	&__foto
		width: calc(50% - 35px)
		margin-right: 35px
		position: relative

	&__video
		width: calc(50% - 35px)
		margin-left: 35px
		position: relative

	&__header
		height: 120px
		background: rgba(167,167,167, 0.16)
		margin-bottom: 40px

.foto-slider
	&.slick-slider
		position: static

	.slick-arrow
		top: 60px

	&__grid	
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		max-height: 555px

.grid
	&__column
		width: 50%

		&-right
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column
			padding-left: 30px

	&__inner
		height: 50%
		overflow: hidden

		&-top
			margin-bottom: 15px

		&-bottom
			margin-top: 15px

	&__img
		overflow: hidden
		height: 100%
		position: relative

		&:hover
			&:before
				content: ''
				position: absolute
				width: 100%	
				height: 100%
				z-index: 1
				top: 0
				left: 0
				right: 0
				bottom: 0
				display: block
				background: rgba(0,0,0,0.15)

			.foto-preview
				transition: all 0.3s
				opacity: 1

.foto-preview
	position: absolute
	width: 80px
	height: 80px
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: auto
	display: block
	background: $accent
	border-radius: 50%
	transition: all 0.3s
	opacity: 0
	z-index: 100

	&__icon
		max-width: 100%
		fill: #fff
		z-index: 100
		position: absolute
		display: block
		height: 40px
		width: 50px
		top: 0
		left: 0
		right: 0
		bottom: 0
		margin: auto

.gallery-foto	
	height: 100%
	position: relative

.video-slider
	&.slick-slider
		position: static

	.slick-arrow
		top: 60px

.video__wrap
	max-height: 555px
	position: relative
	overflow: hidden

	&:hover
		&:before
			content: ''
			position: absolute
			width: 100%	
			height: 100%
			z-index: 1
			top: 0
			left: 0
			right: 0
			bottom: 0
			display: block
			background: rgba(0,0,0,0.15)

		.video-play
			transition: all 0.3s
			opacity: 1

.video-play
	position: absolute
	width: 80px
	height: 80px
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: auto
	display: block
	background: $accent
	border-radius: 50%
	transition: all 0.3s
	opacity: 0
	z-index: 100

	&__icon
		max-width: 100%
		fill: #fff
		z-index: 100
		position: absolute
		display: block
		top: 0
		left: 4px
		right: 0
		bottom: 0
		margin: auto
		width: 0 
		height: 0
		border-top: 17px solid transparent
		border-bottom: 17px solid transparent		
		border-left: 26px solid #fff

.b-news
	min-height: 537px
	width: 100%
	position: relative
	background-color: #f1f1f1

	&__header
		height: 160px

	&__slider
		position: static
		max-width: 1630px
		margin: auto

	&__wrap
		min-height: 292px
		background: #ffffff
		max-width: 800px
		width: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		margin: auto 5px

	&__item
		padding: 0 40px
	
		&:nth-child(odd) .b-news__img:before
			content: ''
			width: 104px
			height: 104px
			position: absolute
			left: -4px
			bottom: -4px
			z-index: -1
			background-color: $accent

		&:nth-child(even) .b-news__img:before
			content: ''
			width: 104px
			height: 104px
			position: absolute
			left: -4px
			top: -4px
			z-index: -1
			background-color: $accent			

	.slick-list
		padding: 4px 0

	.slick-arrow
	    top: 80px

	&__img
		max-width: 354px
		height: 290px
		position: relative
		z-index: 100
	&__foto
		height: 100%
		object-fit: cover

	&__text
		margin: 0 20px
		flex-basis: 450px

	&__title
		padding-bottom: 20px
		font-family: $font_bold
		font-size: 18px
		color: #000

	&__except
		margin-bottom: 20px
		font-family: $font_regular
		font-size: 18px
		color: $text
		height: 106px
		line-height: 1.45em
		overflow: hidden

.b-testimon
	position: relative
	padding: 0 20px
	&__slider
		position: static
	.slick-list
		padding-bottom: 60px
	.slick-arrow
	    top: 100px		
	&__header
		height: 200px

	&__item
		padding: 20px 25px

	&__wrap
		max-width: 587px
		width: 100%
		min-height: 292px
		background: #ffffff
		padding: 20px
		box-shadow: 0px 0px 27px rgba(66,38,49,0.14)

	&__foto
		width: 75px
		height: 75px
		min-width: 77px
		border-radius: 50%
		overflow: hidden

	&__inner
		display: flex
		align-items: center
		justify-content: space-between
		position: relative

	&__name
		padding-top: 20px
		margin: 0 auto 0 30px
		font-family: $font_bold
		font-size: 30px
		color: #000

	&__data
		padding-top: 20px
		font-family: $font_regular
		font-size: 18px
		color: rgba(45,45,45,0.6)

	&__star
		position: absolute
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		top: -5px
		right: 0

	&__icon
		width: 25px
		height: 25px
		fill: $accent

	&__comment
		font-family: $font_regular
		font-size: 18px
		color: $text
		padding: 20px 0
		line-height: 1.45em

.b-form
	min-height: 364px
	position: relative
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

	&__background-gradient
		position: absolute
		width: 100%
		height: 100%


	&__background-img
		background: url(../img/form_bg.jpg)
		background-position: center
		background-repeat: no-repeat
		background-size: cover
		opacity: 0.22
		height: 100%
		width: 100%

	&__wrap
		max-width: 880px
		width: 100%
		position: relative
		margin: auto
		padding: 20px

	&__input
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex	
		justify-content: space-between
		align-items: center

		input:last-child
			margin-right: 0

	&__control
		margin-right: 10px
		height: 55px
		font-size: 18px
		font-family: $font_regular
		text-transform: uppercase
		width: 100%
		border: none
		padding: 0 30px
		margin-bottom: 10px

	&__message	
		width: 100%

	&__control-message
		padding-top: 20px
		height: 97px

	&__submit
		padding-top: 30px
		text-align: center

.page__footer
	width: 100%
	background-color: #333538
	padding: 20px 0 0

.footer
	&__col
		flex-direction: column

	&__info
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		width: 100%
		align-items: flex-start
		min-height: 85px
		flex-wrap: wrap

    
	&__nav
		min-height: 150px
		width: 100%
		display: flex
		align-items: center
		justify-content: space-around


		&__list 
			width: 70%
			margin-top: 20px

			.nav__item-current .nav__link, .nav__item:hover .nav__link
				color: $accent

	&__social
		margin-top: 20px 
		.social__icon
			fill: #333538

			&:hover
				fill: $accent

	&__copyright
		height: 61px
		width: 100%
		background: #ffffff
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: center
		text-align: center

		&-link
			font-family: $font_demi

.footer-info
	&__geo
		margin-left: auto
		margin-right: 110px

	&__list
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-wrap: wrap
		width: 50%
		justify-content: space-between

	&__item
		margin: 0 15px 15px

	&__icon
		fill: #ffffff
		width: 20px
		height: 20px
		transition: all 0.3s

	&__text
		color: rgba(255,255,255,0.6)
		font-family: $font_demi
		margin-left: 10px

	&__link:hover 
		.footer-info__icon, .footer-info__text
			fill: $accent
			transition: all 0.3s
			color: $accent

@media only screen and (max-width: 1450px)
	.b-retractable__item
		max-width: 500px
@media only screen and (max-width: 1360px)
	.nav__text, .menu__link, .header-top__contact
		font-size: 15px
	.arrow-left
		width: 40px
		left: 10px

	.arrow-right
		width: 40px
		right: 10px
	.b-testimon__name
		font-size: 22px
@media only screen and (max-width: 991px)
	.row
		justify-content: center

	.logo, .header-top__contact
		width: 100%

	.menu
		display: none
	.menu-mobile
		display: block

	.header-top__menu	
		position: absolute
		top: 210px
		background: #fff
		z-index: 11
		left: 0
		width: 100%
	.menu__list		
		display: block	

	.menu__item
		margin: 10px

	.nav__list
		margin: 20px 0

	.nav__text
		display: none
	
	.h-slider__title
		font-size: 30px

	.b-gallery__foto, .b-gallery__video
		width: 100%
		padding: 0
		margin: 0
		margin-bottom: 40px		

	.b-system__col-right
		padding-left: 10px 
	.b-news__text
		flex-basis: 320px

	.footer-info__item, .social__list, .footer-info__geo
		margin-bottom: 15px
		width: 100%
		text-align: center
		justify-content: center
	.footer-info__geo
		margin: auto
	.footer-info__list
		width: 100%
		margin: 20px auto

@media only screen and (max-width: 768px)

	.h-slider__content
		margin: 0 50px
	.h-slider .slick-dots
		bottom: 20px		
	.b-header
		padding: 20px 30px
		font-size: 24px
	.b-retractable__item
		min-height: 640px	
		margin: 0 0 50px
	.b-retractable__title
		font-size: 24px
	.h-slider__prev 
		left: 20px	

	.h-slider__next 
		right: 20px
	.b-system__col
		max-width: 100%
	.b-form__input
		flex-wrap: wrap

	.b-form__control
		margin-right: 0px
	.b-warranty 
		flex-wrap: wrap
	.b-warranty__header
		padding: 0
	.b-warranty__col
		width: 100%
	.b-warranty__text
		max-width: 100%
		padding: 20px
	.b-warranty__img
		margin: 0
	.b-news__item
		margin: 15px	
		padding: 0
		padding-right: 8px	
		
	.b-news__wrap
		flex-direction: column
		overflow: hidden
		padding: 4px
	.b-news__img
		width: 100%
	.b-gallery
		padding-bottom: 40px
	.b-news__text
		padding-top: 20px
	.b-testimon__inner
		flex-wrap: wrap

	.b-testimon__header
		font-size: 24px
		height: 120px
	.b-testimon .slick-arrow
		top: 55px
	.b-testimon__item
		padding: 0
	.b-testimon__wrap
		box-shadow: none
	.footer__nav
		flex-wrap: wrap
